<html>
<head>


<title>Dados do Usuario no Sistema Node JS</title>
<link rel="stylesheet" type="text/css" href="../css/style.css" />
</head>

<body>
    <div class="container">
<div class="card">
<h1>Sistema de Login Nodejs</h1>
        <br>
   <h3>Bem-vindo: <label><%= nome %></label></h3> 
    <br>
    
    <label>Seu Email de cadastro: <%= email %></label>
  
  

</div>
   
</div>



</body>
</html>